<div class="container py-3">
  <div class="card mb-3 shadow-lg rounded border">
    <div class="card-body text-dark">
      <%= render "index_new" %>
      <div class="row">
        <%= render "filter_form" %>
      </div>
      <%= render "filter_results" %>
    </div>
  </div>
</div>