<div class="row mt-2">
  <div class="col-12 col-lg-12">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <span class="fs-4 text-primary fw-bold">NTR Computer Services</span><br>
          1991 Grey Falcon Cir SW<br>
          Vero Beach, FL 32962<br>
          <span class="fs-6"><i class="bi bi-telephone pe-1"></i>(772)321-6667</span>
        </div>
      </div>
    </div>
  </div>
</div>