<div class="container py-3">
  <div class="card mb-3 shadow-lg rounded border">
    <div class="card-body text-dark">
      <h3>Editing domain</h3>

      <%= render "form", domain: @domain %>

      <div class="btn-group pt-1">
        <%= link_to domains_path, class: "btn btn-sm btn-outline-dark" do %>
          <i class="bi bi-arrow-left-circle pe-1"></i>Back to domains
        <% end %>

        <%= link_to @domain, class: "btn btn-sm btn-outline-dark" do %>
          <i class="bi bi-folder-symlink pe-1"></i>View
        <% end %>        

        <%= button_to @domain, method: :delete, class: "btn btn-sm btn-outline-danger", form: {data: {turbo_confirm: 'Are you sure?'}} do %>
          <i class="bi bi-trash pe-1"></i>Delete
        <% end %>

      </div>

    </div>
  </div>
</div>
