<div class="container py-3">
  <div class="card mb-3 shadow-lg rounded border">
    <div class="card-body text-dark">
      <ul class="list-group list-group-horizontal-sm pb-2">
        <li class="list-group-item">
          <span class="badge bg-primary rounded-pill"><%= "1" %></span>
          Accounts
        </li>
        <li class="list-group-item">
          <span class="badge bg-primary rounded-pill"><%= "20" %></span>
          Computers
        </li>
        <li class="list-group-item">
          <span class="badge bg-primary rounded-pill"><%= "3" %></span>
          Domains
        </li>
        <li class="list-group-item">
          <span class="badge bg-primary rounded-pill"><%= "1" %></span>
          Unifi Sites
        </li>      </ul>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
      <div class="col d-flex align-items-start">
        <i class="bi bi-arrow-right-circle pe-1"></i>
        <div>
          <h5 class="fw-bold mb-0">Computers not communicating</h5>
          <p>
            Testing layout
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i class="bi bi-arrow-right-circle pe-1"></i>
        <div>
          <h5 class="fw-bold mb-0">Featured title</h5>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>


    </div>
    </div>
  </div>
</div>