<div class="card">
  <div class="card-header fw-bold">
    <%= "#{user.first_name} #{user.last_name}" %>
  </div>
  <div class="card-body">

        <p class="card-text">
          <b>email:</b> <%= user.email %><br>
          <b>phone:</b> <%= user.phone %><br>
        </p>
    
  </div>
</div>
