<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light">
    HouseKeeper
  </div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Dashboard</a>
    <%= link_to "Accounts", accounts_path, class: "list-group-item list-group-item-action list-group-item-light p-3" %>
    
    <%= link_to "Computers", computers_path, class: "list-group-item list-group-item-action list-group-item-light p-3" %>
    
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Domains</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Tickets</a>
    <% if policy(:user_role).index? %>
      <%= link_to "Users", users_path, class: "list-group-item list-group-item-action list-group-item-light p-3" %>
    <% end %>
  </div>
</div>
