<%= form_with model: account, url: account_api_keys_path(account), :data => {:turbo => "false"} do |f| %>
  <div class="row">
    <div class="col field form-group">
      <%= f.label :private_api_key, "API Key" %><br />
      <%= f.text_field :private_api_key, disabled: true, class: "form-control" %>
    </div>
    <div class="col-auto align-self-end pb-1">
      <%= f.button class: "btn btn-sm btn-outline-dark" do %>
        <i class="bi bi-key pe-1"></i>Generate New Key
      <% end %>
    </div>
  </div>
<% end %>